@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body{
    font-family: 'Noto Sans', sans-serif;
    margin-bottom:200px;
}
iframe{
    border:none;
    width:50%;
}
.text{
    text-align: left;
    width: 50%;
}
.logo{
    height:70px;
}
.image{
    width:640px;
    filter:brightness(0.98);
}
a{
    text-decoration:none;
    color:rgb(0, 0, 255);
}
a:hover{
    color:rgb(139, 139, 255);
}
.supertext{
    font-size:9px;
}
.code{
    font-family:monospace;
}
.result{
    height:200px;
    width:100%;
}
