body{
    background:black;
    color:rgb(230, 230, 230);
}
main{
    background:black;
}
header{
    background:black;
    border-bottom:1px solid rgb(48, 48, 48);
}
header a{
    color:rgb(230, 230, 230);
}
header a:hover{
    color: rgb(185, 0, 71);
}
.article{
    background:rgb(32, 32, 32);
}
button:not(.win10btn){
	background:rgb(63, 63, 63);
	color:rgb(230, 230, 230) !important;
	font-family:'Noto Sans', sans-serif;
	font-size:14px;
	padding:9px 20px;
	border:none;
	border-radius:100px;
	cursor:pointer;
	border:1px solid rgb(63, 63, 63);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
	color:rgb(0, 0, 0);
	font-weight:700;
}
button:hover{
    background:rgb(153, 0, 59);
    border:1px solid rgb(153, 0, 59);
}
a{
    color:rgb(185, 0, 71);
}
h2{
    border-bottom:1px solid rgb(48, 48, 48);
}
*:focus{
    outline:1px dashed rgb(230, 230, 230);
}
button:active{
	background:rgb(116, 0, 44);
	border:1px solid rgb(116, 0, 44);
}
input:not(.win10input),textarea{
    background:black;
    color:rgb(230, 230, 230);
    border-color:rgb(87, 87, 87);
}
input:focus, textarea:focus{
    outline:none;
    border: 1px solid rgb(185, 0, 71);
    box-shadow: inset 0px 0px 5px rgb(185, 0, 71);
}
.socialmediabar{
    display:none;
}
.code{
	background:rgb(48, 48, 48);
}
.dropdown-content {
background-color: #1f1f1f;
}
.list-parent{
	border-bottom:1px solid rgb(54, 54, 54);
}
.list{
	padding:10px;
	text-decoration:none;
	color:rgb(230, 230, 230);
}
.list:hover{
	color:rgb(185, 0, 71);
}