@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body{
	font-family:"Titillium Web", sans-serif;
	line-height:1.5em;
	margin:0;
}
header{
	border-bottom:1px solid rgb(228, 228, 228);
	padding:0 12px;
	padding-top:5px;
}
header>div{
	max-width:800px;
	margin:0 auto;
}
main{
	max-width:800px;
	margin-top:13px;
	padding:0 12px;
	margin:0 auto;
	margin-bottom:100px;
}
p>a, li>a{
	text-decoration:none;
	border-bottom:1px dotted;
	color:rgb(153, 0, 59);
	transition: border-bottom .05s;
}
p>a:hover, li>a:hover{
	text-decoration:none;
	border-bottom:2px solid;
}
*:focus{
	outline:2px solid rgb(115,175,236);
}
.logo{
	width:120px;
	margin:10px 0;
	display:block;
}
.socials{
	float:right;
	margin-top:25px;
}
.banner{
	margin-top:18px;
	width:100%;
	margin-bottom:14px;
}
b{
	font-weight:900;
}
.app{
	border-top:1px solid rgb(228, 228, 228);
	padding-left:15px;
	padding-right:18px;
	margin-bottom:14px;
}
.app a{
	float:right;
}
*::selection{
	background:rgba(177,215,251);
}
.tag{
	background:rgb(240, 240, 240);
	padding:0 6px;
	border-radius:4px;
	margin-left:3px;
	font-weight:400;
	font-size:16px;
	vertical-align:top;
}
select{
	border-radius:0;
	padding:4px;
	border:1px solid rgb(187, 187, 187);
	width:150px;
	font-family:"Titillium Web", sans-serif;
	font-size:16px;
}
.sorter>*{
	display:inline;
	margin-right:10px;
	margin-bottom:20px;
}
input[type=text], input[type=search]{
	border-radius:0;
	padding:5px;
	border:1px solid rgb(187, 187, 187);
	width:200px;
	font-family:"Titillium Web", sans-serif;
	font-size:16px;
}
.screen{
	box-shadow:0 0 10px rgba(0, 0, 0, 0.267);
}
.code{
	background:rgb(240, 240, 240);
	border-radius:3px;
	padding:3px 8px;
	padding-top:5px;
	font-family:"Fira Mono",monospace;
}
.app-sel-container{
	overflow:hidden;
}
#app-sel{
	margin-top:-1px;
}