@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    margin-bottom: 100px;
}

.text {
    text-align: left;
    width: 50%;
}


.logo {
    height: 100px;
    transition: 0.5s;
}
.logo:hover{
    filter: invert();
}


.image {
    border-radius: 5px;
    width: 640px;
    filter: brightness(0.98);
    transition: 0.2s box-shadow;
}
.image:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.274);
}


a{
    text-decoration:none;
    color:rgb(58, 37, 255);
    display:inline-block;
    transition:0.2s;
}
a:hover{
    text-decoration: underline;
}


.supertext{
    font-size:12px;
}


.code{
    font-family:monospace;
}


.result{
    height:200px;
    width:100%;
}
.result-p{
    color:green;
}


.grid{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
.grid>div{
    padding:8px;
    margin-left:8px;
}
.grid>div>img{
    width:100%;
}