@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***/

.top-menu{
	background:white;
	border-bottom:1px solid rgb(228,228,228);
	position: absolute;
	width:100%;
}
.top-menu-button{
	background:none;
	border:none;
	font-size:14px;
	padding:12px 10px;
	border-bottom: 3px solid transparent;
	border-top:2px solid transparent;
	border-radius: 0;
	cursor:pointer;
	transition:0.1s border;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-menu-button:hover{
	border-bottom: 3px solid rgb(153, 0, 59);
}
.top-menu-button>img{
	float:left;
	margin-top:1px;
	margin-right:4px;
}
.top-menu-button:focus{
	outline:none;
}
.logo{
	float:left;
	margin: 15px 13px 0 22px;
	font-family:'Source Code Pro',sans-serif;
	font-weight: 700;
	color:rgb(153, 0, 59);
}
.left-pane{
	width:260px;
	height:100vh;
	background:rgb(250, 250, 250);
	padding-top:70px;
	padding-left:20px;
}
body{
	overflow:hidden;
}
.switch{
	display:inline-block;
	border:1px solid rgb(228,228,228);
	border-radius:5px;
	margin-left:15px;
}
.switch>button{
	cursor:pointer;
	border:none;
	background:none;
	padding:6px 0;
	width:72px;
	font-size:14px;
	border-right:1px solid rgb(228,228,228);
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.switch>button:last-of-type{
	border-right:none;
}
.switch>button:hover{
	text-decoration: underline;
}
.switch>button:focus{
	outline:none;
}
.containerb{
	width:100px;
	height:100px;
	position: absolute;
	top:49px;
	left:274px;
	z-index:100;
}
.code{
	width:50%;
	height:100vh;
	float:left;
}
.result{
	width:50%;
	height:100vh;
	float:right;
}
.container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h3{
	font-size: 14px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 38px;
	padding-top:2px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width: 30px;
	background-color: rgb(207, 207, 207);
	border-radius:100px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color:rgb(153, 0, 59);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	transition:0.2s;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	left:13px;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 2px;
	top: 2px;
	width: 15px;
	height: 15px;
	background:white;
	border-radius:100px;
  }